#   In case of anything copywrighted or should not be shared.
course_materials/*

#   Because this always shows up
*/.DS_Store
.DS_Store

#   Automatically ignore assignment documentation, which can get bulky
*.pdf